<p>soy app root</p>
<p>{{title}}</p>

<button (click)="navegacion01()">ir a ejemplo1</button>
<button (click)="navegacion02()">ir a ejemplo2</button>
<button (click)="cambiarTitulo()">cambiar titulo</button>
<button (click)="callWebService()">callRESTful</button>

<router-outlet></router-outlet>
